<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Access Denied</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
</head>
<body class="no-backgroundwarning">
<div class="container">
    <div class="access-denied-content">
        <h1>Доступ запрещен</h1>
        <p>У вас нет прав доступа к этой странице.</p>
    </div>
    <div class="button-container">
        <a href="/" class="main-button">На главную</a>
    </div>
</div>
</body>
</html>

