<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Add New Deal Type</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
</head>
<body class="no-backgroundaddtype">
<div class="header">
    <a href="/" class="home-link">Главная</a>
    <div class="main-buttons">
        <a href="/deal/all">Сделки</a>
        <a href="/type/all">Типы сделок</a>
        <a href="/place/all">Места сделок</a>
        <a href="/currency/all">Валюты</a>
    </div>
    <a href="javascript: document.logoutForm.submit()" class="exit" sec:authorize="isAuthenticated()">Выйти</a>
    <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true" sec:authorize="isAuthenticated()">
        <input hidden type="submit" value="Sign Out" />
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    </form>
</div>

<div class="form-container">
<form method="post" th:action="@{/type/add}" th:object="${dealType}">
    <h1>Добавьте новый тип сделки</h1>
    <div class="grid">
    <div class="label-input">
        <label for="type">Название:</label>
    </div>
        <div class="styled-input-text">
        <input type="text" id="type" th:field="*{type}" />
        <span class="validationError"
              th:if="${#fields.hasErrors('type')}"
              th:errors="*{type}">Type Error</span><br>
        </div>
    </div>
    <div class="button-container-form">
        <button type="submit" class='button-submit'>Добавить</button>
    </div>
</form>
</div>
</body>
</html>


