<!DOCTYPE html>
<html xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Информационная подсистема учета сделок с ценными бумагами</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
</head>
<body>
<div class="welcome-login">
    <div class="welcome" sec:authorize="!isAuthenticated()">
        <h1>Добро пожаловать!</h1>
    </div>
    <div sec:authorize="!isAuthenticated()">
        <a href="/login" class="login-button">Войти в профиль</a>
    </div>
</div>

<div class="welcome" sec:authorize="isAuthenticated()">
    <h1 th:text="'Добро пожаловать, ' + ${#authentication.principal.username} + '!'"></h1>
</div>

<div class="header">
    <a href="/" class="home-link">Главная</a>
<div class="main-buttons">
    <a href="/deal/all">Сделки</a>
    <a href="/type/all">Типы сделок</a>
    <a href="/place/all">Места сделок</a>
    <a href="/currency/all">Валюты</a>
</div>
    <a href="javascript: document.logoutForm.submit()" class="exit" sec:authorize="isAuthenticated()">Выйти</a>
    <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true" sec:authorize="isAuthenticated()">
        <input hidden type="submit" value="Sign Out" />
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    </form>
</div>
</body>
</html>

